sub_id        = "0000-0000-0000-0000"                  # <-- Azure Subscription ID
prefix        = "tf-demo"                              # <-- prefix for all resources
rg_location   = "UK South"                             # <-- location
ssh_key       = "C:/path/to/your/publickey.pub"        # <-- path to your SSH public key
my_ip_address = "your-public-ip-address/32"            # <-- your IP address for SSH access
private_key   = "C:/path/to/your/privatekey"           # <-- path to your SSH private key
